
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
input {
  font-family: "Poppins", sans-serif;
}

label {
  font-size: 16px; 
  color: #333;    
  font-weight: bold; 
  margin-bottom: 5px; 
}

main {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background-color: #181a1e;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  position: relative;
  width: 100%;
  max-width: 600px;
  height: 650px;
  background-color: #fff;
  border-radius: 3.3rem;
  box-shadow: 0 60px 40px -30px rgba(0, 0, 0, 0.27);
}

.inputBox {
  position: relative;
  height: 37px;
  margin-bottom: 2rem;
}
.box .inputBox { 
  position: relative;
  width: 100%;
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid #bbb;
  padding: 0;
  font-size: 0.95rem;
  color: #151111;
  transition: 0.4s;
}
.box .inputBox:hover {
  border-bottom-color: #151111;
}

.box .inputBox input {
  position: relative;
  width: 100%;
  outline: none;
  border: none;
  padding: 10px 5px;
}

.box .inputBox #toggleBtn {
  position: absolute;
  top: 8px;
  right: 10px;
  width: 34px;
  height: 34px;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 10%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box .inputBox #toggleBtn::before {
  content: '\f06e';
  font-family: fontAwesome;
}

.box .inputBox #toggleBtn.hide::before {
  content: '\f070';
}

.button-container {
  text-align: center; 
}


.validation {
    background: #564c96;
    padding: 10px;
    margin-top:1 0px;
    margin-bottom:10px;
    margin-right: 10px;
    border-radius: 8px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.15);
  }
  .validation ul {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1px;
  }
  .validation ul li {
    position: relative;
    list-style: none;
    color: #fff;
    font-size: 1rem;
    transition: 0.5s;
  }
  .validation ul li.valid {
    color: rgba(255, 255, 255, 0.5);
  }
  .validation ul li::before {
    content: '\f192';
    width: 15px;
    height: 15px;
    font-family: fontAwesome;
    display: inline-flex;
  }
  .validation ul li.valid::before {
    content: '\f00c';
    color: #0f0;
  }


.inner-box {
  position: absolute;
  width: calc(100% - 4.1rem);
  height: calc(100% - 4.1rem);
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
}

.forms-wrap {
  position: absolute;
  height: 100%;
  width: 70%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  transition: 0.8s ease-in-out;
}

form {
  max-width: 460px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  transition: opacity 0.02s 0.4s;
}

form.sign-up-form {
  opacity: 0;
  pointer-events: none;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 37px;
  margin-right: 0.3rem;
}

.logo h4 {
  font-size: 1.1rem;
  margin-top: -9px;
  letter-spacing: -0.5px;
  color: #151111;
}

.heading h2 {
  font-size: 2.1rem;
  font-weight: 600;
  color: #151111;
}

.heading h6 {
  color: #777474;
  font-weight: 400;
  font-size: 0.75rem;
  display: inline;
}

.toggle {
  color: #151111;
  text-decoration: none;
  font-size: 0.75rem;
  font-weight: 500;
  transition: 0.3s;
}

.toggle:hover {
  color: #4932da;
}


.input-wrap {
  position: relative;
  height: 37px;
  margin-bottom: 2rem;
}

.input-field {
  position: absolute;
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid #bbb;
  padding: 0;
  font-size: 0.95rem;
  color: #151111;
  transition: 0.4s;
}

.input-field.active {
  border-bottom-color: #151111;
}

.sign-btn {
  display: inline-block;
  margin-right: 10px; 
  text-decoration: none;
  height: 50px;
  background-color: #151111;
  color: #fff;
  cursor: pointer;
  border-radius: 0.8rem;

  margin-bottom: 2rem;
  transition: 0.3s;
  text-align: center;
}


.sign-btn:hover {
  background-color: #6e58ff;
}

.text {
  color: #616060;
  font-size: 0.7rem;
}

.text a {
  color: #5e5a5a;
  transition: 0.3s;
}

.text a:hover {
  color: #5f48f8;
}

main.sign-up-mode form.sign-in-form {
  opacity: 0;
  pointer-events: none;
}

main.sign-up-mode form.sign-up-form {
  opacity: 1;
  pointer-events: all;
}

main.sign-up-mode .forms-wrap {
  left: 55%;
}




@media (max-width: 850px) {
  .box {
    height: auto;
    max-width: 550px;
    overflow: hidden;
  }

  .inner-box {
    position: static;
    transform: none;
    width: revert;
    height: revert;
    padding: 2rem;
  }

  .forms-wrap {
    position: revert;
    width: 100%;
    height: auto;
  }

  form {
    max-width: revert;
    padding: 1.5rem 2.5rem 2rem;
    transition: transform 0.8s ease-in-out, opacity 0.45s linear;
  }

  .heading {
    margin: 2rem 0;
  }

  form.sign-up-form {
    transform: translateX(100%);
  }

  main.sign-up-mode form.sign-in-form {
    transform: translateX(-100%);
  }

  main.sign-up-mode form.sign-up-form {
    transform: translateX(0%);
  }

  .carousel {
    position: revert;
    height: auto;
    width: 100%;
    padding: 3rem 2rem;
    display: flex;
  }

  .images-wrapper {
    display: none;
  }

  .text-slider {
    width: 100%;
  }
}

@media (max-width: 530px) {
  main {
    padding: 1rem;
  }

  .box {
    border-radius: 2rem;
  }

  .inner-box {
    padding: 1rem;
  }

  .carousel {
    padding: 1.5rem 1rem;
    border-radius: 1.6rem;
  }

  .text-wrap {
    margin-bottom: 1rem;
  }

  .text-group h2 {
    font-size: 1.2rem;
  }

  form {
    padding: 1rem 2rem 1.5rem;
  }
}
