
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');

@font-face{
    font-family:'tech';
    src: url('../fontes/Technopollas.otf') format(opentype);
    font-weight: normal;
    font-style: normal;
}


:root {
    --color-primary: #892fd3;
    --color-primary2: #7045fe;
    --color-danger: #ff7782;
    --color-logo: #eb9c52;
    --color-logo1: #45b6fe;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-uoll: #312a3e;
    
    --color-info-dark: #9437ca;
    --color-info-light: #dce1eb;
   
    --color-primary-variant: #111e88;
       
    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: rgb(11, 10, 10);
    --color-light2: rgb(23, 9, 39);
    --box-shadow: 0 2rem 3rem var(--color-light);

    --color-neutral-0: #0e0c0c;
    --color-neutral-10: #131212;
    --color-neutral-30: #a8a29e;
    --color-neutral-40: #f5f5f5;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box; 
}

html {
    font-size: 14px;
}
body {
    width: 100vw;
    height: 100vh;
    user-select: none;
    overflow-x: hidden;
    font-size: 0.88rem;
    color: var(--color-dark);
    font-family: poppins, sans-serif;
    background: var(--color-background);
}
footer {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1.33px;
    width: 855%;
    color: var(--color-neutral-40);
}

a {
    color: var(--color-dark);
}

h1 {
    margin-top: 50px; 
    margin-left: 20px; 
    font-weight: 800;
    font-size: 1.8rem;
}
h3 {
    font-size: 0.87rem;
}
h4 {
    font-size: 0.8rem;
}
h5 {
    font-size: 0.77rem;
}
hr {
    width: 100%;
    height: 1px;
    background-color: var(--color-white);
    margin-right: auto;
    margin-left: auto;
    margin-top: 2px;
    margin-bottom: 2px;
    border-width: 4px;
    border-color: var(--color-white);
}
small {
    font-size: 0.75rem;
}
.profile-photo {
    width: 2.8rem;
    height: 2.8rem;
    overflow: hidden;
    border-radius: 50%;
}
.text-muted {
    color: var(--color-info-dark);
}
p {
    color: var(--color-dark-variant);
}
b {
    color: var(--color-dark);
}
.primary {
    color: var(--color-primary);
}
.danger {
    color: var(--color-danger);
}
.logo {
    color: var(--color-logo);
}
.logo1 {
    color: var(--color-logo1);
}
.success {
    color: var(--color-success);
}
.warning {
    color: var(--color-warning);
}

aside {
    height: 97vh;
    width: 7vh;
    background: #151313; 
    margin-left: -35px;
    margin-right: 35px;
    overflow: hidden;
    transition: all 300ms ease;
    border-radius: 1vh;
    
}    
aside .logo{
    margin-left: 23%;    
    font-size: 1.8rem;
    transition: .4s;
    color: var(--color-info-dark);
    font-family: 'tech', Courier, monospace;
} 

aside:hover .logo{
    margin-left: 23%;    
    font-size: 1.4rem;
    transition: .4s;
    color: var(--color-logo);
} 

aside .logo1{
    color: #151313;
    transition: .4s;

} 
aside:hover .logo1{
    transition: .4s;
    color: var(--color-logo1);
} 

aside:hover {
    width: 23vh;
    background: #141315bf; 
    margin-left: -35px;
    transition: all 300ms ease;
}
<!--drawer navigation-->
aside .top {
    display: flex;
    background:rgb(255, 255, 255); 
    margin-top: 1.4rem;
    align-items: center;
    justify-content: space-between;
}
aside .logo {
    gap: 0.8rem;
    display: flex;
    margin-top: 1rem; 
    margin-left: 1rem; 
}

aside .close {
    width: 4rem;
    height: 1.2rem;
    margin-left: -5.5rem;
    margin-bottom: 0.5rem;
}
.container {
    display: grid;
    width: 96%;
    margin: 0 auto;
    background: dark;
    gap: 1.8rem;
    grid-template-columns: 14rem auto 23rem;
}

aside .sidebar {
    flex-direction: column;
    position: relative;
    display: flex;
    height: 86vh;    
    top: 3rem;
}
aside h3 {
    font-weight: 500;
}
aside .sidebar a {
    gap: 1rem;
    display: flex;
    height: 3.7rem;
    margin-left: 1.2rem;
    position: relative;
    align-items: center;
    color: var(--color-info-dark);

}

aside .sidebar a span {
    font-size: 2.2rem;
    transition: all 300ms ease;
    color: var(--color-info-dark);

}

aside .sidebar a:last-child {
    width: 100%;
    bottom: 2rem;
    position: absolute;
}
aside .sidebar a.active {
    margin-left: 1.2vh;
    margin-right: 0.85vh;
    color: var(--color-primary2);
    background: var(--color-light2);
    border-radius: 7px;
    align-items: center;
    transition: all 300ms ease;

}
aside .sidebar a.active span {
    margin-left: -0.9vh;
    color: var(--color-primary2);
}
aside .sidebar a.active:before {
    content: "";
    width: 6px;
    height: 100%;
    background: var(--color-primary2);
    transition: all 300ms ease;

}
aside .sidebar a.dash h2 {
    color: var(--color-primary2);
    margin-left: calc(1rem - 16px);
    transition: all 30ms ease;
}
aside .sidebar a:hover {
    color: var(--color-primary2);
    transition: all 300ms ease;    
}
aside .sidebar a:hover span {
    margin-left: 1rem;
    transition: all 300ms ease;
    color: var(--color-primary2);

}
main {
    margin-top: 1.4rem;
}
main .date {
    margin-top: 1rem;
    display: inline-block;
    padding: 0.5rem 1.6rem;
    background: var(--color-light);
    border-radius: var(--border-radius-1);
}

main .date input[type="date"] {
    background: transparent;
    color: var(--color-dark);
}

main .insights {
    gap: 1.6rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

main .insights > div {
    margin-top: 1rem;
    transition: all 300ms ease;
    padding: var(--card-padding);
    box-shadow: var(--box-shadow);
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    
}

main .insights > div:hover {
    box-shadow: none;
    background: var(--color-uoll);

}

main .insights > div span {
    font-size: 2rem;
    padding: 0.5rem;
    border-radius: 50%;
    color: var(--color-white);
    background: var(--color-success);
}

main .insights > div.sensoresBb span {
    background: var(--color-danger);
}

main .insights > div.sensoresAa span {
    background: var(--color-success);
}

main .insights > div .middle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .insights h3 {
    font-size: 1rem;
    margin: 1rem 0 0.6rem;
}

main .insights .progress {
    width: 92px;
    height: 92px;
    position: relative;
    border-radius: 50%;
}

main .insights .progress .number {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;    
}

main .insights small {
    margin-top: 1.6rem;
    display: block;
}

main .recent-orders {
    margin-top: 2rem;
}

main .recent-orders h2 {
    margin-bottom: 0.8rem;
}
main .recent-orders table {
    background: var(--color-white);
    width: 100%;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
    transform: all 300ms ease; 
    margin-top: 30px; 
    margin-left: 50px;  
}

main table tbody td {
    height: 2.8rem;
    color: var(--color-dark-variant);
    border-bottom: 1px solid var(--color-light);
}

main table tbody tr:last-child td{
    border: none;
}

main .recent-orders a {
    text-align: center;
    display: block;
    margin: 1rem auto;
    color: var(--color-primary);
}

aside {
    height: 97vh;
    width: 7vh;
    background: #151313; 
    margin-left: -35px;
    margin-right: 35px;
    overflow: hidden;
    transition: all 300ms ease;
    border-radius: 1vh;
    
}    
aside .logo{
    margin-left: 23%;    
    font-size: 1.8rem;
    transition: .4s;
    color: var(--color-info-dark);
    font-family: 'tech', Courier, monospace;
} 

aside:hover .logo{
    margin-left: 23%;    
    font-size: 1.4rem;
    transition: .4s;
    color: var(--color-logo);
} 

aside .logo1{
    color: #151313;
    transition: .4s;

} 
aside:hover .logo1{
    transition: .4s;
    color: var(--color-logo1);
} 

aside:hover {
    width: 23vh;
    background: #141315bf; 
    margin-left: -35px;
    transition: all 300ms ease;
}

.right .top {
    margin-top: 20%;
}
------
.right .sensoresA-analytics {
    margin-top: 2rem;
}

.right .sensoresA-analytics .h2 {
    margin-bottom: 0.8rem;
}

.right .sensoresA-analytics .item {
    background: var(--color-white);
    display: flex;
    align-items: center;
    gap:  1rem;
    margin-bottom: 0.7rem;
    padding: 1.4rem var(--card-padding);
    border-radius: var(--border-radius-3);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}
.right > div:hover .td{
    box-shadow: none;
    background: var(--color-uoll);
}
.right > div:hover .seguranca{
    box-shadow: none;
    background: var(--color-uoll);
}
.right > div:hover .externo {
    background: var(--color-uoll);
}
.right > div:hover .interno{
    box-shadow: none;
    background: var(--color-uoll);
}

.right .sensoresA-analytics .item:hover {
    box-shadow: none;
}

.right .sensoresA-analytics .item.seguranca:hover {
    box-shadow: none;
}
.right .sensoresA-analytics .item .right {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin: 0;
    width: 100%;
}

.right .sensoresA-analytics .item .icon {
    padding: 0.6rem;
    color: var(--color-white);
    border-radius: 50%;
    background: var(--color-primary);
    display: flex;
}


.right .sensoresA-analytics .item.td .icon {
    background: var(--color-danger);
}
.right .sensoresA-analytics .item.seguranca .icon {
    background: var(--color-success);
}
.right .sensoresA-analytics .item.externo .icon {
    background: var(--color-success);
}
.right .sensoresA-analytics .item.interno .icon {
    background: var(--color-success);
}

.right .sensoresA-analytics .add-product {
    background-color: transparent;
    border: 2px dashed var(--color-primary);
    color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
}

.right .sensoresA-analytics .add-product:hover {
    background: var(--color-primary);
    color: white;
}

.right .sensoresA-analytics .add-product div{
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.right .sensoresA-analytics .add-product div h3 {
    font-weight: 600;
}


@media screen  and (max-width> 1200px) {
    .container {
        width: 94%;
        grid-template-columns: 7rem auto 23rem;
    }
    aside .logo h2 {
        display: none;
    }
    aside .sidebar h3 {
        display: none;
    }
    aside .sidebar a {
        width: 5.6rem;
    }
    aside .sidebar a:last-child {
        position: relative;
        margin-top: 1.8rem;
    }
    main .insights {
        grid-template-columns: 1fr;
        gap: 0;
    }
    main .recent-orders {
        width: 94%;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
        margin: 2rem 0 0 8.8rem;
    }
    main .recent-orders table {
        width: 83vw;
    }
    main table thead tr th:last-child, 
    main table thead tr th:first-child {
        display: none;
    }
    main table tbody tr td:last-child, 
    main table tbody tr td:first-child {
        display: none;
    }
    @media screen and (max-width: 768px) {
        .container {
            width: 100%;
            grid-template-columns: 1fr;
        }
        aside {
            position: fixed;
            left: -100%;
            background: var(--color-white);
            width: 18rem;
            z-index: 3;
            display: none;
            box-shadow: 1rem 3rem 4rem var(--color-light);
            height: 100vh;
            padding-right: var(--card-padding);
            animation: showMenu 400ms ease forwards;
        }

        aside .logo {
            margin-left: 1rem;
        }
        aside .logo h2 {
            display: inline;
        }
        aside .logo h3 {
            display: inline;
        }
        aside .sidebar a {
            width: 100%;
            height: 3.4rem;
        }
        aside .sidebar a:last-child {
            position: absolute;
            bottom: 5rem;
        }
        aside .close {
            display: inline-block;
            cursor: pointer;
        }
        main {
            margin-top:  8rem;
            padding: 0 1rem;
        }
        main .recent-orders{
            position: relative;
            margin: 3rem 0 0 0;
            width: 100%;
        }
        main .recent-orders table {
            width: 100%;
            margin: 0;
        }
        .right {
            width: 94%;
            margin: 0 auto 4rem;
        }
        .right .top{
            position: fixed;
            top: 0;
            left: 0;
            align-items: center;
            padding: 0 0.8rem;
            height: 4.6rem;
            background: var(--color-white);
            width: 100%;
            margin: 0; 
            z-index: 2;
            box-shadow: 0 1rem 1rem var(--color-light);
        }
        .right .top a {
            display: inline-block;
            background: transparent;
            cursor: pointer;
            color: var(--color-dark);
            position: absolute;
            left: 1rem;
         }
        .right .top a span {
            font-size: 2rem;
        }
        .right .top .theme-toggler {
            width: 4.5rem;
            position: absolute;
            left: 6%;
        }      
    }

}
.footer-link {
    text-decoration: none;
}

#footer_content {
    background-color: var(--color-neutral-10);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
    position: relative;
    width: 1750px;
    left: -43px;
}

#footer_contacts h1 {
    margin-bottom: 0.75rem;
}

#footer_social_media {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

#footer_social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2rem;
    width: 2.2rem;
    color: var(--color-neutral-40);
    border-radius: 50%;
    transition: all 0.4s;
}
#footer_social_media .footer-link i {
    font-size: 1.25rem;
}
.footer_social_media .footer-link:hover {
    opacity: 0.8;
}    
    #instagram {
        background: linear-gradient(#7f37c9, #ff2992, #ff9807);
    }
    #envelope {
        background: linear-gradient(to right, #ffffff, #858585);
    }
    #facebook {
        background-color: #4267b3;
    }
    #whatsapp {
        background-color: #25d366;
    }
.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
    margin-right: 20%;
}
.footer-list .footer-link {
    color: var(--color-neutral-30);
    transition: all 0.4s;
}
.footer-list .footer-link:hover {
    color: #7f37c9;
}
.footer_subscribe {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.footer_subscribe p {
    color: var(--color-neutral-30);
}
.footer_copyright {
    display: flex;
    position: relative;
    justify-content: center;
    background-color: var(--color-neutral-0);
    font-size: 0.9rem;
    width: 1750px;
    padding: 1.5rem;
    font-weight: 100;
    left: -43px;
}

@media screen and (max-width: 768px) {
    #footer_content {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (max-width: 426px) {
    #footer_content {
        grid-template-columns: repeat(2, 1fr);
        padding: 3rem 2rem;
    }
}